﻿<head>
    <title>Nueva Cuenta</title>
</head>

<body>
    <div>
        <h1>Nueva cuenta</h1>
        <div>
            <form action="~/Finanzas/CrearCuentas" method="post">
                <p>Nombre</p>
                <input class="input" type="text" name="nombre" placeholder="Nombra tu cuenta" required />
                <p>Categoria</p>
                <div class="opciones-init">
                    <select name="tp">
                        <option value="Propio">Propio</option>
                        <option value="Credito">Credito</option>
                    </select>
                </div>
                <p>Saldo</p>
                <input class="input" type="text" name="saldo" required /><br />
                <button id="insesion" class="button is-link">Crear</button>
                <a href="/#" class="button is-link is-light" style="top: 20px; position: relative;">Cancelar</a>
            </form>
        </div>
    </div>
</body>
